<img src={{flag}}  class="paragraph" width=50 height=30>
<p class="paragraph">{{name}}</p>
<p class="paragraph">Capital: {{capital}}</p>
<p class="paragraph">Languages: 
    {{#each languages}} 
        {{name}},
    {{/each}}
</p>
<p class="paragraph">Population: {{population}}</p>